.column-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  color: grey;
  font-size: 5rem;
}
.slogan-heading {
  color: grey;
  padding-top: 3rem;
}
.sign-in-heading-div {
  color: grey;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#email-input {
  padding: 6px;
  font-size: 1rem;
  background-color: black;
  border-style: solid;
  border-radius: 1em;
  border-color: grey;
}
#email-input:focus {
  color: white;
  outline: none;
  border-color: white;
}
#email-input:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 10px 2px grey;
  transition: ease-in 0.5s;
}
#password-input {
  padding: 6px;
  font-size: 1rem;
  background-color: black;
  border-style: solid;
  border-radius: 1em;
  border-color: grey;
}
#password-input:focus {
  color: white;
  outline: none;
  border-color: white;
}
#password-input:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 10px 2px grey;
  transition: ease-in 0.5s;
}
.login-div {
  padding: 3rem;
}
.login-button {
  color: black;
  width: 210px;
  font-size: 1.5rem;
  background-color: grey;
  border-style: solid;
  border-radius: 1rem;
  border-color: grey ;
  cursor: pointer;
}
.login-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 10px 2px black;
  transition: ease-in 10ms;
}
.login-button:active {
  transform: translateY(5px);
  transition: ease-in 10ms;
}
.real-creator-span {
  top: 36rem;
  right: 2rem;
  position: absolute;
}
