* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100vh;
  background-image: url(/src/assets/laugh.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
}
