* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100vh;
  background: linear-gradient(to top left, orange 20%, lightblue 50%);
}
